body {
  font-family: Arial, sans-serif;
  background-color: #6E6E6E;
  text-align: center;
}

button {
margin:auto;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  color:#106EBE;
  background-color: #BAFF39;
}

.card {
    margin:auto;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  background-color: #BAFF39;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}
