
body {
  font-family: "Inter", Arial, sans-serif;
  background-color: #f8f7ff;
  margin: 0;
  padding: 40px;
  color: #1a1a1a;
}

.container {
  max-width: 1400px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  margin: 40px 0 20px;
}

button {
  display: block;
  margin: 20px auto 40px;
  padding: 12px 28px;
  background: #ff6978;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
  background: #d75865; 
}

.row1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 60px;
}

.row2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}


.card {
  background: #b1ede8;
  border: 1px solid #D8EAD5;
  border-radius: 14px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}


.news-card {
   background: #f7d486;
  border: 1px solid #E5E7EB;
  height: 420px;
  border-radius: 14px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  overflow: hidden;
}

.news-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}

.news-card p {
  font-size: 0.9rem;
  color: #444;
  overflow: hidden;
  display: -webkit-box;
}

.news-card a {
  margin-top: auto;
  text-decoration: none;
  font-weight: 600;
  color: #9381ff
;
}
.card:hover,
.news-card:hover {
  transform: translateY(-4px);
  transition: 0.2s ease;
}
